body{
    background-color:#f5f5dd;
    margin:0;

}

.large_box{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flow-root;

}

header{
    border-bottom: solid 1px #cccccc;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    
}

ul{
    list-style: none;
    
}

.logo{
    float: left;
    margin-bottom: -13px;

}

.logo h1{
    font-size: 16px;
    margin-top: -7px;
    
}

form{
    float: right;

}

.nav_menu{
    clear: both;
    /* width: 1080px; */

}
    
.nav_menu ul{
    padding-inline-start: 0;

}

.menu_top{
    width: 20%;
    list-style: none;
    margin: 5px 0;
    float: left;
    box-sizing: border-box;
    text-align: center;
    /* float 縺ｨdisplay flex縺ｧ繝�く繧ｹ繝医′繧ｻ繝ｳ繧ｿ繝ｪ繝ｳ繧ｰ縺ｧ縺阪↑縺九▲縺*/

}

.recipi_cook h2{
    background: url("dish.png") no-repeat 16px center;
    background-color: #00ff00;
    padding-left: 15px;
    border-radius: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: center;
    margin-top: 11px;
    
}


.recipi_cook{
    border: none;
    background-color: #ffffff;
    list-style: none;
    width: 170px;
    padding: 5px;
    
}

.recipi_cook ul{
    padding-left: 0px;

}

    
.recipi_cook li{
    background: url("arrow.png") no-repeat left center;
    padding-left: 20px;
    /* ul繧定ｦｪ隕∫ｴ縺ｨ縺励※蟄仙ｭｫ隕∫ｴ縺ｧ讖溯�縺吶ｋ縺薙→縺悟庄閭ｽ*/
    border-bottom: dotted 1px #808080;
    
}

.recipi_cook li + :last-child{
    border-bottom: none;
    
}

 .recipi_purpose h2{
    background: url("dish.png") no-repeat 16px center;
    background-color: #00ff00;
    padding-left: 15px;
    border-radius: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: center;
    
 }
    
.recipi_purpose{
    border: none;
    background-color: #ffffff;
    list-style: none;
    width: 170px;
    padding: 5px;
    margin-top: 12px;

}

.recipi_purpose ul{
    padding: 0 5px 0 5px;

}

.recipi_purpose li{
    background: url("arrow.png") no-repeat left center;
    /* background縺ｫ逕ｻ蜒上ｒ險ｭ螳壹＠縲∫判髱｢縺�▲縺ｱ縺�↓陦ｨ遉ｺ縺輔○縺壹］o-repeat縺ｧ荳蝗槭↓蝗樣∩縺励※縺�ｋ */
    padding-left: 20px;
    /* ul繧定ｦｪ縺ｨ縺励※li繧貞ｭ仙ｭｫ隕∫ｴ縺ｧ險ｭ螳壹＠縺ｦ縺�ｋ */
    border-bottom: dotted 1px #808080;
    
}

.recipi_purpose li + :last-child{
    border-bottom: none;
    
}
    
.recipi_c{
    width: 500px;
    background-color: brown;

}

a{
    text-decoration: none;
    display: block;

}

.nav_menu li{
    border-right: 1px solid #aaa;
    
}

.nav_menu li + :first-child last-child{
    border-right: none;
    
}

.nav_menu li + :last-child{
    border-right: none;
    
}

.nav_cook{
    width: 180px;
    float: left;
    margin-top: 5px;

}

article{
    width: 550px;
    margin-top: -1px;
    margin-bottom: 5px;
    float: left;

}

aisde{
    width: 150px;
    clear: both;
    display: block;

}

.new_recipi{
    margin: 6px 6px 6px 8px;
    width: 600px;
    height: 160px;
    border: none;
    box-sizing: borderbox;
    background-color: #ffffff;
    padding: 1px 5px 0 5px;
    
}

.new_recipi section{
    padding: 0px 0px 0px 30px;
}

.new_recipi h2{
    background: url("dish.png") no-repeat 10px center;
    background-color: #00ff00;
    padding-left: 30px;
    border-radius: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: left;
    
}

.new_recipi_zen{
    width: 20%;
    float: left;
    margin: 0px;
    font-size: 3px;

}

.new_recipi_soup{
    width: 20%;
    float: left;
    margin: 0px;
    font-size: 3px;
}

.new_recipi_pan{
    width: 20%;
    float: left;
    margin: 0px;
    font-size: 3px;
}

.new_recipi_shur{
    width: 20%;
    float: left;
    margin: 0px;
    font-size: 3px;
}

.new_recipi_kamo{
    width: 20%;
    float: left;
    margin: 0px;
    font-size: 3px;
}

.ja_food{
    margin: 10px 6px 6px 8px;
    width: 600px;
    height: 400px;
    border: none;
    box-sizing: borderbox;
    background-color: #ffffff;
    padding: 1px 5px 0 5px;
    clear: both;
    font-size: 16px;
    
}

.ja_food h2{
    background: url("dish.png") no-repeat 10px center;
    background-color: #00ff00;
    padding-left: 30px;
    border-radius: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: left;
}
    
.ja_food p {
    padding-left: 240px;
    display: block;
    
}

.easy_recipi{
    margin: 10px 6px 6px 8px;
    width: 600px;
    height: 380px;
    border: none;
    box-sizing: borderbox;
    background-color: #ffffff;
    padding: 1px 5px 0 5px;
    clear: both;
    font-size: 20px;
    
}

.easy_recipi h2{ 
    background: url("dish.png") no-repeat 10px center;
    background-color: #00ff00;
    padding-left: 30px;
    border-radius: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: left;
}
    
.easy_recipi section{
    padding-left: 240px;
    display: block;
    font-size: 13px;
    
}
    
.easy_recipi h3{
    color:#800000;

}

footer{
    border-top: solid 1px #cccccc;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    box-sizing: border-box;
    padding-top: 10px;
    clear: both;
    background-color: #ffffff;
    
}

.menu_under{
    width: 160px;
    list-style: none;
    padding: 5px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    margin: 5px 0;
    font-size: 11px;
    /* float 縺ｨdisplay flex縺ｧ繝�く繧ｹ繝医′繧ｻ繝ｳ繧ｿ繝ｪ繝ｳ繧ｰ縺ｧ縺阪↑縺九▲縺*/

}

.nav_food ul{
    padding: 0px 0px 0 180px;
    margin: -10px;

}

.nav_food li{
    border-right: 1px solid #aaa;

}

.nav_food{
    clear: both;
}

.nav_food li + :first-child last-child{
    border-right: none;
    
}
    
.nav_food p{
    clear: both;
    text-align: center;
    color: #c0c0c0;
    
}

.nav_cook li + :last-child{
    border-right: none;
}
    
.nav_food li + :last-child{
    border-right: none;
    
}

.continue{
    background: url("arrow.png") no-repeat 500px center;
    text-align: right;
    
}

.continue a{
    color: #ff4f02;

}
    
.continue_e a{
    color: #ff4f02;
    
}

.continue_e{
    background: url("arrow.png") no-repeat 275px center;
    text-align: right;
    
}
aside{
    margin-top: 5px;
    
}    

aside img{
    margin-bottom: 12px;
}

.mainview{
    clear: both;
    
}

.mainview img{
    width: 100%;
}
