body {
    margin:0;
    
}

header {
    border-bottom: solid 1px #cccccc;
    min-width: 960px;
    
}

h1 {
    font-family: "貂ｸ繧ｴ繧ｷ繝�け", sans-serif;
    
}

h3{
    margin-top: 55px;
}

#largebox {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
}

.top_m {
    box-sizing: border-box;
    display: inline;
    padding:0 20px;
    font-family: "貂ｸ繧ｴ繧ｷ繝�け", "YuGothic", "繝｡繧､繝ｪ繧ｪ", meiryo, sans-serif;

}

ul {
    text-align: right;
    list-style: none
    
}

.introduce {
    width: 400px;
    height: 400px;
    margin-top: 15px;
    float: left;
    padding-right: 9px;
    
}

.pic {
    width: 500px;
    height: 400px;
    float: left;
 
}

footer {
    border-top: solid 1px #cccccc;
    min-width: 960px;
    clear: both;
    
}

.copy {
  text-align:right;  
}
