/*繝｡繝九Η繝ｼ繧呈ｨｪ荳ｦ縺ｳ縺ｫ縺吶ｋ蝣ｴ蜷医↓縺ｯ縲’loat繧剃ｽｿ繧上★縲‥isplay:inline縺ｫ險ｭ螳壹＠縲
text-alight縺ｧ菴咲ｽｮ繧呈欠螳壹☆繧九
ul隕∫ｴ縺ｯ繝悶Ο繝�け縺ｪ縺ｮ縺ｧ縲》ext-alight縺ｧ隕∫ｴ縺ｮ菴咲ｽｮ繧呈欠螳壹☆繧九％縺ｨ縺後〒縺阪↑縺�
display:inline縺ｫ螟画峩縺吶ｋ蠢�ｦ√′縺ゅｋ縲*/
/*a繧ｿ繧ｰ縺ｯinline隕∫ｴ縺ｪ縺ｮ縺ｧ縲∽ｻ悶�隕∫ｴ縺ｮ荳ｭ縺ｫ蜈･縺｣縺ｦ縺�※蜈ｨ驛ｨ縺ｮ遽�峇繧偵Μ繝ｳ繧ｯ縺励ｈ縺�→縺吶ｋ縺ｨ縲
display:block縺ｫ縺励↑縺上※縺ｯ縺ｪ繧峨↑縺�*/

body {
    margin:0;
    
}

header {
    border-bottom: solid 1px #4682b4;
    min-width: 960px;
    
}

#title {
    color: black;
}

h3 {
    margin-top: 72px;
    
}

#largebox {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 17px;
    box-sizing: border-box;
    
}

.top_m {
    box-sizing: border-box;
    display: inline;
    padding:0 20px;

}

ul {
    text-align: right;
    list-style: none
    
}

#renge {
    background-color: #f9f9f9;
}

.introduce {
    width: 420px;
    height: 380px;
    float: left;
    padding-right: 9px;
    
}

footer {
    border-top: solid 1px #4682b4;
    min-width: 960px;
    clear: both;
    
}

img {
    padding: 34px 0 0 59px;
    
}

.copy {
    text-align:right;
  
}

a {
    transition: all 0.5s;

}

a:hover {
    background-color: #b0c4de;
    
}
